<%- include("../partials/dashboard-header") -%>

    <div class="container">
        <div class="send-messege">
            <h1 class="messege-header">Edit Notice</h1>
            <form class="was-validated" action="/notice/edit/<%=notice._id%>?_method=PUT" method="post">



                <% bach.forEach((bach) => { %>

                    <div class="form-check">
                        <input class="form-check-input bachCheck" type="checkbox" value="<%=bach.name%>" id="defaultCheck1" name="bach">
                        <label class="form-check-label" for="defaultCheck1">
         <%= bach.name %>
    </label>
                    </div>
                    <%  }); %>

                        <div class="mb-3">
                            <label for="validationTextarea">Messege Subject</label>
                            <input type="text" class="form-control is-invalid" value="<%=notice.subject%>" id="validationTextarea" name='noticeHead' placeholder="Subject" required></input>
                            <div class="invalid-feedback">
                                Please enter a subject.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="validationTextarea">Messege</label>
                            <textarea class="form-control is-invalid" id="validationTextarea" value="<%= notice.noticeBody %>" name='noticeBody' placeholder="Messege" required></textarea>
                            <div class="invalid-feedback">
                                Please enter a message in the textarea.
                                                      

                            </div>
                        </div>
                        <%= typeof msg != 'undefined' ? msg : '' %>
                            <div class="mb-3">
                                <label for="validationTextarea">Messege file url</label>
                                <input type="text" class="form-control is-invalid" id="validationTextarea" value="<%=notice.noticeFile1%>" name="noticeFile1" placeholder="file url"></input>

                            </div>
                            <div class="mb-3">
                                <label for="validationTextarea">Messege file url</label>
                                <input type="text" class="form-control is-invalid" id="validationTextarea" value="<%=notice.noticeFile2%>" name='noticeFile2' placeholder="file url"></input>

                            </div>
                            <div class="mb-3">
                                <label for="validationTextarea">Messege file url</label>
                                <input type="text" class="form-control is-invalid" id="validationTextarea" value="<%=notice.noticeFile3%>" name='noticeFile3' placeholder="file url"></input>

                            </div>
                            <div class="mb-3">
                                <label for="validationTextarea">Messege file url</label>
                                <input type="text" class="form-control is-invalid" id="validationTextarea" value="<%=notice.noticeFile4%>" name='noticeFile4' placeholder="file url"></input>

                            </div>


                            <button class="btn btn-primary btn-lg bg-success">Submit</button>

            </form>

        </div>


        <%- include("../partials/dashboard-footer") -%>