<%- include("../partials/dashboard-header") -%>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


        <div class="d-flex text-center justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Students</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
        </div>
        <div class="search">
            <form action="/student/select" method="POST">
                <div class="row">
                    <div class="col-md-3">
                        <label for="validationTooltip02">Institute</label>
                        <select class="form-control required" name="institute" id="institute" >
                            <option>NPIUB</option>
                            <option>OTHER</option>
                        </select>

                    </div>


                    <div class="col-md-3">
                        <label for="validationTooltip02">Department</label>
                        <select type="search" data-table="studentTable" class="form-control required select-table-filter" name="Department" id="departmentInput" onchange="departmentFunction()">
                            <option value="CSE">CSE</option>
                            <option value="EEE">EEE</option>
                        </select>

                    </div>

                     <div class="col-md-3">
                        <label for="validationTooltip02">Bach</label>

                        <select class="form-control required" name="bach" id="bachInput" onchange="bachFunction()">

                                     <% bach.forEach((bach) => { %>

                                     <option value="<%=bach.name%>"><%=bach.name%></option>
                                     <%  }); %>
                        </select>

                    </div>


                    <div class="col-md-3">
                        <label for="validationTooltip02">Status</label>
                        <select class="form-control required " name="status" id="myInput" onchange="myFunction()">
                            <option value="Active">Active</option>
                            <option value="Passed">Passed</option>
                        </select>

                    </div>


                </div>
            </form>
        </div>



        <table class="table table-hover student-table" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach((students) => { %>
                    <tr>
                        <td>
                            <%= students.status %>
                        </td>
                        <td>
                            <%= students.id %>
                        </td>
                        <td>
                            <%= students.firstName +' '+ students.lastName %>
                        </td>
                        <td>
                            <%= students.department %>   <%= students.bach %>

                        </td>

                        <td>
                            <%= students.email %>
                        </td>
                        <td>
                            <%= students.phone %>
                        </td>
                        <td>
                            <img src="../public/uploads/<%= students.img %>" alt="" width="50" height="50">
                        </td>
                        <td>
                            <a href="/student/<%= students._id%>">View</a>
                            <br>
                            <a href="/student/edit/<%= students._id%>">edit</a>
                            <br>
                            <a href="/student/delete/<%= students._id%>">delete</a>

                        </td>
                    </tr>
                    <%  }); %>


            </tbody>
        </table>


    </main>
    </div>
    </div>

    <script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function departmentFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("departmentInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function bachFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("bachInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>



    <%- include("../partials/dashboard-footer") -%>