    <%- include("partials/header") -%>

    
    <main role="main" class="col-md-11 m-sm-auto col-lg-11 px-4">
<div class="text-center" style='margin-top:100px;'>
<h1>Notice</h1>
</div>
    <main role="main" class="col-md-9 m-sm-auto col-lg-10 px-4">

    <table class="notice-table">
        <tr>
            <td>Date</td>
            <td>Bach</td>
            <td>Notice</td>
            <td>File</td>
        </tr>

        <% notice.forEach((notice) => { %>
            <tr>
                <td>
                    <%= notice.date %>
                </td>
                <td>
                    <%= notice.bach %>
                </td>
                <td>
                    <span class="font-weight-bold"><%= notice.subject %></span>
                    <p>
                        <%= notice.noticeBody %>
                    </p>
                </td>
                <td>
                    <%if (notice.noticeFile1 != "") { %>
                        <a href="<%= notice.noticeFile1 %>"><img class="notice-icon" src="/res/img/pdf.png" alt=""></a>
                        <% } %>
                    <%if (notice.noticeFile2 != "") { %>
                        <a href="<%= notice.noticeFile2 %>"><img class="notice-icon" src="/res/img/pdf.png" alt=""></a>
                        <% } %>
                    <%if (notice.noticeFile3 != "") { %>
                        <a href="<%= notice.noticeFile3 %>"><img class="notice-icon" src="/res/img/pdf.png" alt=""></a>
                        <% } %>
                    <%if (notice.noticeFile4 != "") { %>
                        <a href="<%= notice.noticeFile4 %>"><img class="notice-icon" src="/res/img/pdf.png" alt=""></a>
                        <% } %>


                </td>
            </tr>
            <%  }); %>

    </table>


    
</main>