<%- include("../partials/dashboard-header") -%>



    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Teachers</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
        </div>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Degignation</th>
                    <th scope="col">Department</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>


                <% teacher.forEach((teacher) => { %>
                    <tr>
                        <th scope="row">
                            <%= teacher.firstName +' '+ teacher.lastName %>
                        </th>
                        <td>
                            <%= teacher.designation %>
                        </td>
                        <td>
                            <%= teacher.department %>
                        </td>
                        <td>
                            <%= teacher.email %>
                        </td>
                        <td>
                            <%= teacher.phone %>
                        </td>
                        <td>
                            <%= teacher.img %>
                        </td>
                        <td>
                            <a href="/user/<%= teacher._id %>">View</a>
                        </td>
                    </tr>
                    <%  }); %>

            </tbody>
        </table>


    </main>
    </div>
    </div>


    <%- include("../partials/dashboard-footer") -%>